<!DOCTYPE html>
<html >
  <body>
    <h2>Signup Here</h2>
    <form  method="POST">
      {%csrf_token%}
      <table>
        <thead>
          <th>{{form.first_name.label}}</th>
          <th>{{form.last_name.label}}</th>
          <th>{{form.email.label}}</th>
          <th>{{form.username.label}}</th>
          <th>{{form.password.label}}</th>
        </thead>
        <tbody>
          <td>{{form.first_name}}</td>
          <td>{{form.last_name}}</td>
          <td>{{form.email}}</td>
          <td>{{form.username}}</td>
          <td>{{form.password}}</td>
        </tbody>
      </table>

    <input type="submit" value="Sign up">
    </form>

  </body>
</html>
