
<!DOCTYPE html>
<html>

  <body>
    <table>
      <tr>
        <th>User</th>
        <th>Weekly Goals</th>
        <th>Daily Goals</th>
        <th>Verify Goals</th>
        <th>Done Goals</th>
      </tr>
      {%for user in user%}
      <tr>

        <td>{{user}}</td>


        <td>
          {% for week in weekly%}
            {%if week.user.username == user.username%}
              {{week}}
            {%endif%}
          {%endfor%}
        </td>

        <td>

          {% for day in daily%}
            {%if day.user.username == user.username%}
              {{day}}
            {%endif%}
            {%endfor%}
      {%endfor%}
        </td>


      </tr>
      </table>
  </body>
</html>

<a href="{%url 'usmanajibolaabassscrumy:addgoal'%}">ADD A GOAL</a>


  <!--
  <tr>
    <td></td>
    <td>{{goal_id}}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
-->
