
<table>
  <tr>
    <th>User</th>
    <th>Weekly Goals</th>
    <th>Daily Goals</th>
    <th>Verify Goals</th>
    <th>Done Goals</th>
  </tr>
  <tr>
    {%for u in user%}
    <td>{{u}}</td>
    {%endfor%}
    {%for week in weekly%}
    <td>{{week}}</td>
    {%endfor%}
    {%for day in daily%}
    <td>{{day}}</td>
    {%endfor%}
    {%for ver in verify%}
    <td>{{ver}}</td>
    {%endfor%}

    <td>{{don}}</td>
    
  </tr>

  <!--
  <tr>
    <td></td>
    <td>{{goal_id}}</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
-->
</table>
